<div align="center">
<form action="/quizes">
	<label for="search">Buscar preguntas: </label>
	<input type="text" id="search" name="search" value=""/>
	<input type="submit" value="Enviar"/>
</form>
</div>

<div align="center">
<table>
	<% var i; 
	   for (i=0; i<quizes.length; i++) { %>
	   <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</div>
